@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0px;
    margin: 0px;
    background-color: #f8f8f89b;
  }


  .ml-\34-safe {
    margin-left: 0px;
  }

  .my-8 {
    margin-top: 0px
  }


  .p-tabview-panels{
    background-color: rgb(246, 246, 246);
  }

  .cardRol{
  border-width: 1px;
  border-color: #4168a37e;
  border-style: solid;  
  padding: 10px;
  border-radius: 5px;
  background-color: #5595f614;
  margin-bottom: 30px;
  }

  .toast-above-all {
    position: fixed; 
    z-index: 10000001; 
  }

  .flex{
    display: flex;
  }

  .popSmall{
    min-height: 80vh;
    top: 80vh;
    z-index: 100000000;
  }


  .popMedium{
    min-height: 80vh;
    top: 80vh;
    z-index: 100000000;

  }

  .backgroundGray{

    background-color: #f4f4f4;
  }

 
  .chip{
background-color: rgba(127, 221, 255, 0.097);
border-color: #50add531;
border-width: 1px;
border-style: solid;
margin-right: 5px;
margin-bottom: 5px;
font-size: 14px;
padding-left: 0px;
padding-right: 9px;
  }


.sinPermiso{
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cameraContainer {
display: flex;
justify-content: center;

}


.cameraB{
  font-size: 12px;
  color: white;
  background-color: #0b75cc;
  padding: 5px;
  border-radius: 10px;

}

.closeCalendar{
  margin-top: -10px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(255, 255, 255);
 width: 100%; 
 margin-top: 10px; 
 height:50px!important; 
 background-image: linear-gradient(to right, #20C4D6, #0586F0);
 display: flex;
    justify-content: center;

}

.refreshB{
 border-color: #0b75cc;
 border-width: 1px;
 border-style: solid;
 padding: 4px;
 color:#0b75cc ;
 border-radius: 7px;
 margin-top: 12px;
 cursor: pointer;

}

  .paddingbig{
padding:20px
  }

  .loadingPage{
    display: flex; 
    width: 100%; 
    justify-content:center;
    z-index: 1090;
    position: fixed;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.721);
    align-items: center;
  }

  .labelAvatar{
    width: 22px;
    height: 22px;
    background-image: linear-gradient(to right, #20C4D6, #0586F0);
    color: white;
    border-radius: 15px;
    text-align: center;
    margin-right: 7px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    }


  .text-base{
    font-size: 0.8rem;
  }

.frozen-column-border {
    border-right: 2px solid rgb(243, 243, 243);
    min-width: 60px!important;
}

.labelapp{
font-size: 12px;
margin-bottom: 10px;
}

.header{
    padding: 0px;
    font-size: 12px;
    
    align-items: center;

}


.p-paginator{

    background-color: #ffffff00!important;
    padding: 0;

}


.headerLine{
  display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            border-bottom-color: rgb(226, 226, 226);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            padding: 18px;
}

.p-paginator{

    background-color: #ffffff02!important;
    padding: 0;
    margin: 0;
    font-size: 5px!important;
    height: 52px;
}


.p-dropdown {
    height: 40px;
    font-size:13px ;
    padding: 5px;

}

.p-dropdown-label {
    font-size: 13px;
}


.p-paginator-page{
    font-size: 13px;
}


.p-datatable-footer{
    padding: 0px;
    border-top: rgb(209, 209, 209);
    border-top-width: 1px;
    border-top-style: solid;
    position: fixed;
    bottom: 0;
    width: 100%;
 
}


.p-inputtext {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 5px;

}


Button{
    
    font-size: 13px;
    height: 40px;
    margin-left: 0px;

    
    }


    .indigoB{
    
      font-size: 13px;
      height: 30px;
      margin-left: 0px;
      background-color: rgb(53, 18, 177);
      color: white;
      justify-content: center;      
      }

.p-button-label{
    font-weight: 500!important;

}

.p-calendar{
margin-left: 5px;
width: 100%;
}

.card{
background-color: white;  
padding: 15px;
border-radius: 10px;
margin-bottom: 10px;
border-color: #f2f2f2;
border-width: 1px;
border-style: solid;
}


.p-column-header-content{
    font-weight: 500;
    font-size: 11px;
}

.lightButton {
 border-color: #0b75cc;
 color: #0b75cc;
 border-style: solid;
 border-width: 1px;
 padding: 0px 8px;
 font-size: 11px;
 border-radius: 5px;
 height: 30px;
}

.p-button-text{
    color: rgb(49, 49, 49);
    height: 35px; 
    max-width: 100px;
    margin-right: 10px;
}

.customActionButton{
background-color: rgb(113, 34, 233);
padding-top: 0px;
padding-bottom: 0px;
height: 30px;
max-width: 90px;
padding-left: 6px;
padding-right: 6px;
}

.container{
 display: flex;
 flex-direction: row;
 min-width: 100%;
 background-color: #f4f4f4;

}

.leftBar{
    width: 250px;
    height: 100vh;
      background-color: #fbfbfb;

}

.p-inputnumber {
 width: 100%; 
}


.tableD{
    width: 100%;
    border-left-color: #ededed;
    border-left-width: 1px;
    border-left-style: solid;
 
    overflow: hidden;
    background-color: white;
    
  }


.my-custom-list {
    list-style-type: none; 
    padding: 0; 
    font-size: 13px;
    color: rgb(75, 75, 75);
  }

  .my-custom-list_menu {
    list-style-type: none; 
    padding: 0; 
    font-size: 13px;
    color: rgb(75, 75, 75);
    
  }
  
  .my-custom-list li {
    display: flex; /* Alinea el ícono y el texto horizontalmente */
    align-items: center; /* Centra el ícono y el texto verticalmente */
    margin-bottom: 12px;
  }


  textarea{
    border-color: #dcdcdc !important;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    padding: 5px;
    
  }

  .my-custom-list li .pi {
    margin-right: 12px; /* Espacio entre el ícono y el texto */
    margin-left: 15px;
    font-size: 11px;
    color: rgb(203, 203, 203);
  }

  .tablesList{
    height: 97vh; 
    overflow: scroll;
    padding-left: 10px;
    margin-top: 0px;
  }

  .tablesList_menu{
    max-height: 400px;
    overflow: scroll;
    width:300px;
    border-width: 1; border-style: solid; border-color: rgb(235, 235, 235); border-radius: 10px; padding: 10px;
    line-height: 2;
 
  }



  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    display: flex!important;
    transform-origin: center;
opacity: 1;
  }


  .p-listbox-header{
    position: sticky;
    top: 0; 
    padding: 3px;
    z-index: 10;
    display:block ;
  }


  .p-inputtext {  
    height: 40px;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 17px;
}
  
  .row-hover-icon {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .inputInside{
    width: 100%;
    padding: 5px;
    background-color: #f8f8f8;
  }


.itemAgregar{
  font-size: 13px; 
  margin-bottom: 10px;

}

input {
  background-color: #fafafa00;
  border-color: #f9f9f900;
}
 

tr.p-highlight{
background: #f7f3fb;
color: #43197e;
}



tr:not(.p-highlight):hover {

 background: #f9f9f9;
  }
  
  

  .formItem{
    padding:10px; width: 100%; margin-bottom: 20px; border-style: dashed; border-width: 1px; border-color: rgb(220, 220, 220);
  }


  .whiteB{
    width: 100%; 
    height:50px!important;  
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-color: #0586F0;
    color: #0586F0;
  }


  .p-inputotp-input {
    background-color: #f2f2f2;
    font-size: 20px;
        }