body {
    padding: 0px;
    margin: 0px;
  }

.frozen-column-border {
    border-right: 2px solid rgb(243, 243, 243);
    min-width: 60px!important;
}


.header{
    padding: 0px;
    font-size: 12px;
    
    align-items: center;

}


.p-paginator{

    background-color: #ffffff00!important;
    padding: 0;

}


.headerLine{
  display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            border-bottom-color: rgb(226, 226, 226);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            padding: 18px;
}

.p-paginator{

    background-color: #ffffff02!important;
    padding: 0;
    margin: 0;
    font-size: 5px!important;
    height: 52px;
}


.p-dropdown {
    height: 40px;
    font-size:13px ;
    padding: 5px;

}

.p-dropdown-label {
    font-size: 13px;
}


.p-paginator-page{
    font-size: 13px;
}


.p-datatable-footer{
    padding: 0px;
    border-top: rgb(209, 209, 209);
    border-top-width: 1px;
    border-top-style: solid;
    position: fixed;
    bottom: 0;
    width: 100%;
 
}


.p-inputtext {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 5px;

}


Button{
    
    font-size: 12px;
    height: 35px;
    margin-left: 0px;
    
    }

.p-button-label{
    font-weight: 500!important;

}

.p-calendar{
margin-left: 5px;
width: 100%;
}


.p-column-header-content{
    font-weight: 500;
    font-size: 11px;
}



.p-button-text{
    color: rgb(49, 49, 49);
    height: 35px; 
    max-width: 100px;
    margin-right: 10px;
}

.customActionButton{
background-color: rgb(113, 34, 233);
padding-top: 0px;
padding-bottom: 0px;
height: 30px;
max-width: 90px;
padding-left: 6px;
padding-right: 6px;
}

.container{
 display: flex;
 flex-direction: row;
 min-width: 100%;
 background-color: #e9e8e8;

}

.leftBar{
    width: 250px;
    height: 100vh;


}

.p-inputnumber {
 width: 100%; 
}


.tableD{
    width: 100%;
    border-left-color: #d3d3d3;
    border-left-width: 1px;
    border-left-style: solid;
 
    overflow: hidden;
    background-color: white;
    
  }


.my-custom-list {
    list-style-type: none; 
    padding: 0; 
    font-size: 13px;
    color: rgb(75, 75, 75);
  }

  .my-custom-list_menu {
    list-style-type: none; 
    padding: 0; 
    font-size: 13px;
    color: rgb(75, 75, 75);
    
  }
  
  .my-custom-list li {
    display: flex; /* Alinea el ícono y el texto horizontalmente */
    align-items: center; /* Centra el ícono y el texto verticalmente */
    margin-bottom: 12px;
  }


  .my-custom-list li .pi {
    margin-right: 12px; /* Espacio entre el ícono y el texto */
    margin-left: 15px;
    font-size: 11px;
    color: rgb(203, 203, 203);
  }

  .tablesList{
    height: 97vh; 
    overflow: scroll;
    padding-left: 10px;
    margin-top: 0px;
  }

  .tablesList_menu{
    max-height: 400px;
    overflow: scroll;
    width:300px;
    border-width: 1; border-style: solid; border-color: rgb(235, 235, 235); border-radius: 10px; padding: 10px;
    line-height: 2;
 
  }



  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    display: flex!important;
    transform-origin: center;
opacity: 1;
  }


  .p-listbox-header{
    position: sticky;
    top: 0; 
    padding: 3px;
    z-index: 10;
    display:block ;
  }


  .p-inputtext {  
    height: 40px;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 17px;
}
  
  .row-hover-icon {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .inputInside{
    width: 100%;
    padding: 5px;
    background-color: #f8f8f8;
  }


.itemAgregar{
  font-size: 13px; 
  margin-bottom: 10px;

}

input, textarea {
  background-color: #fafafa00;
  border-color: #f9f9f900;
}
 

tr.p-highlight{
background: #f7f3fb;
color: #43197e;
}



tr:not(.p-highlight):hover {

 background: #f9f9f9;
  }
  
  

  .formItem{
    padding:10px; width: 100%; margin-bottom: 20px; border-style: dashed; border-width: 1px; border-color: rgb(220, 220, 220);
  }